<header class="p-3 navbar-dark" style="background:#2E256A">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-4" width="32" height="32" fill="currentColor" role="img" aria-label="Blog"><use xlink:href="bootstrap-icons.svg#code-square"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Sobre</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Contato</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="busca">
        <input type="search" class="form-control form-control-dark text-bg-dark border border-0" style="--bs-bg-opacity: .7;" placeholder="Buscar..." aria-label="Search">
      </form>

      <div class="text-end d-flex">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-4" width="24" height="24" fill="currentColor" role="img" aria-label="Blog"><use xlink:href="bootstrap-icons.svg#instagram"></use></svg>
        </a>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-4" width="24" height="24" fill="currentColor" role="img" aria-label="Blog"><use xlink:href="bootstrap-icons.svg#linkedin"></use></svg>
        </a>
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-4" width="24" height="24" fill="currentColor" role="img" aria-label="Blog"><use xlink:href="bootstrap-icons.svg#github"></use></svg>
        </a>
      </div>
    </div>
  </div>
</header>
