<div class="container mt-5">
  <h1>Sobre:</h1>
  <p>Projeto realizado para cumprir processo de formação Angular, do portal Dio.me!</p>
  <p>Onde foi aplicado:</p>
  <ul>
    <li>Bootstrap para estilização do projeto;</li>
    <li>Trabalho com Rotas;</li>
    <li>Trabalho com Service para alimentar o projeto;</li>
    <li>Listagem de Notícias, utilizando *ngFor;</li>
    <li>Tratamento de dados do tipo String, para apresentação individual de cada notícia;</li>
    <li>Organização do projeto com divisões entre componentes, páginas e outros;</li>
  </ul>
  <p>Créditos das notícias são do portal <a href="https://www.tabnews.com.br/">TabNews</a>.</p>
</div>
